/* // PX divided by 16 */

/*/////////// Less than 1280px //////////*/
@media (max-width: 80em) {
  html {
    font-size: 58%;
  }
}

/*/////////// Less than 1100px //////////*/
@media (max-width: 75em) {
  html {
    font-size: 54%;
  }
  .overlay {
    width: 70%;
  }
}

/* /////////// Less than 960px //////////*/
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
  .overlay {
    width: 80%;
  }
}

/* /////////// Less than 960px //////////*/
@media (max-width: 60em) {
  .overlay {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }

  .z {
    flex-direction: row;
    gap: 1rem;
  }
}

